*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
.wrapper{
    margin: 0;
    padding: 0;
}
.w-6{
    width: 60%;
}
.w-7{
    width: 70%;
}
.w-8{
    width: 80%;
}
.w-9{
    width: 90%;
}
.bg-form, .bg-show{
    margin: 100px auto;
    padding: 25px 5px; 
    border-radius: 5px;
    background-color: #ecf0f1;
    -webkit-box-shadow: 12px 12px 3px -6px rgba(0,0,0,0.14);
    height: auto;
}
h2{
    font-size: 20px;
    font-weight: 500;
}
p{
    font-size: 12px;
}
.form-group{
    text-align: center;
    margin: 15px auto;
}

.btn-p{
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FF625E;
    transition: .7s;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    border: 1px solid transparent;
}
.btn-p:hover{
    padding: 10px 40px;
    background-color: #FFCDAC;
}
.header{
    text-align: center;
}
.sub-header{
    margin: 0 25px;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 2px solid #123638;
}

.form-in{
    width: 60%;
    padding: 10px 5px;
    background-color: transparent;
    border: 2px solid #123638;
    outline: none;
    cursor: pointer;
    transition: .7s;
}
.form-in:hover{
    width: 65%;
}
table{
    text-align: left;
}
.table-content{
    width: 90%;
}

th, td{
    padding: 7px 9px; 
    border-bottom: 1px solid #123638;
}
.btn{
    padding: 7px 9px;
    outline: none;
    transition: .7s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 100;
    font-size: 10pt;
}
.btn-d{
    background-color: rgb(243, 90, 79);
    border: 1px solid transparent;
    color: #ecf0f1;
}
.btn-d:hover{
    background-color: #FFCDAC;
    color: #123638;
}
.btn-e{
    background-color: #0aad92;
    border: 1px solid transparent;
    color: #ecf0f1;
}
.btn-e:hover{
    color: #123638;
    background-color: #9ef0e2;
}